# nvim
pack/*               
cache/*              
undo/*               
swap/*               
backup/*             
sessions/*           
.nvimlog             
.nvimrc.local             
init.local.vim            
local/*                   
lua/configs/lspconfig.lua
lazy-lock.json

# general
.DS_Store
*.swp
*.swo
*~
